.answer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.answer-header {
    width: 100%;
    padding-left: 15px;
    font-weight: bold;
    color: var(--black-primary-light);
}

.answer-content {
    margin-top: 5px;
    width: 100%;
}

.input-create-poll {
    width: 50vw;
}

.input-delete-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.delete-answer-button {
    background-color: transparent;
    margin-left: 10px;
    border: none;
    width: 20px;
}

.delete-answer {
    font-size: 12px;
    color: red;
}

.hide {
    visibility: hidden;
}

@media only screen and (max-width: 720px) {
    .input-create-poll {
        width: 100%;
    }
}
