@page "/create/{question?}"

<div class="content-centered-horizontal content-centered-vertical create-container">
    <h1>Create Poll</h1>

    <EditForm Model="Poll">
        <ObjectGraphDataAnnotationsValidator />
        <ValidationSummary />
        <div class="question-wrapper">
            <div class="question-header">
                What's on your mind?
            </div>
            <div class="input-group input-group-lg input-create-poll">
                <input type="text" @bind="Poll.Question" class="form-control input-question-create" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Question">
            </div>
        </div>

        <div class="options-wrapper">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Single choice
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Multiple choice
                </label>
            </div>
        </div>

        <div class="answers-wrapper">
            @foreach (var answer in Poll.Answers)
            {
                <AnswerComp Item="answer"/>
            }
            <button class="btn btn-primary btn-add-answer" @onclick="AddAnswer">
                <div class="nav-button-content">
                    <span class="fa fa-plus new-poll-icon"></span>
                </div>
            </button>
        </div>
        <button type="submit" class="btn btn-primary nav-button button-question-create">Publish Poll</button>
    </EditForm>

</div>

@code {
    [Parameter]
    public string Question { get; set; }

    public Poll Poll { get; set; }

    protected override void OnInitialized()
    {
        Poll = new Poll
        {
            Question = Question,
            Answers = new List<Answer> {new Answer(0), new Answer(1)}
        };
    }

    private void AddAnswer()
    {
        Poll.Answers.Add(new Answer(Poll.Answers.Count));
    }

}
