@page "/fetchdata"
@using BlazorPoll.Shared
@using BlazorPoll.Shared.Models
@using System.Net.Http.Headers
@using System.Diagnostics
@using Newtonsoft.Json
@inject HttpClient httpClient

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (poll == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @poll.Question
    </div>
}

@code {
    private Poll poll = null;

    protected override async Task OnInitializedAsync()
    {
        var test = await httpClient.GetFromJsonAsync<Poll>("api/polls/0");

        poll = test;
    }

}
