h2 {
    font-weight: bold;
}

h3 {
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.poll-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-header-details {
    margin-top: 3vh;
}

.poll-description {
    margin-top: 15px;
    max-width: 50vw;
}

.select-answer-header {
    margin-bottom: 15px;
}

.answers-wrapper {
    margin-top: 30px;
    width: 50vw;
}

.button-send-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    min-width: 200px;
    margin-bottom: 5vh;
}