@using BlazorPoll.Client.Services
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="navbar-wrapper">
    <a href="/" class="navbar-icon-wrapper">
        <span class="fa fa-poll navbar-icon"></span>
        <div class="navbar-title">BlazorPoll</div>
    </a>
    <div class="nav-items-wrapper">
        <AuthorizeView>
            <Authorized>
                <LoggedInAsComponent/>
            </Authorized>
        </AuthorizeView>
        <NavLink href="create">
            <button class="btn btn-primary nav-button">
                <div class="nav-button-content">
                    <span class="fa fa-plus button-icon"></span>
                    <div>New poll</div>
                </div>
            </button>
        </NavLink>
        <AuthorizeView>
            <Authorized>
                <NavLink href="profile">
                    <button class="btn btn-primary nav-button">
                        <div class="nav-button-content">
                            <span class="fa fa-user button-icon"></span>
                            <div>My profile</div>
                        </div>
                    </button>
                </NavLink>
                <button class="btn btn-primary nav-button" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <NavLink href="Login">
                    <button class="btn btn-primary nav-button">Login</button>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    public async Task Logout()
    {
        await UserService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
