@page "/login"
@using BlazorPoll.Client.Services
@using Microsoft.AspNetCore.WebUtilities
@using System.Threading
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject IToastService ToastService

<EditForm Model="@User" OnValidSubmit="@Login">
    <CenteredBaseWrapperComponent Header="User Login">
        <ContentTemplate>
            <DataAnnotationsValidator />
            <div class="input-group input-group-lg input-login input-validation-wrapper">
                <InputText class="form-control input-validate input-question-create full-width" placeholder="Username" @bind-Value="User.UserName" />
                <div class="validation-message-wrapper">
                    <ValidationMessage For="@(() => User.UserName)" />
                </div>
            </div>

            <div class="input-group input-group-lg input-login input-validation-wrapper">
                <InputText type="password" class="form-control input-validate input-question-create full-width" placeholder="Password" @bind-Value="User.Password" />
                <div class="validation-message-wrapper">
                    <ValidationMessage For="@(() => User.Password)" />
                </div>
            </div>
            <div class="d-flex justify-content-center full-width">
                <NavLink href="../register">
                    <span>You don't have an account?</span>
                </NavLink>
            </div>

        </ContentTemplate>
        <FooterTemplate>
            <button type="submit" class="btn btn-primary nav-button button-question-create">Log me in!</button>
        </FooterTemplate>
    </CenteredBaseWrapperComponent>
</EditForm>


@code {
    UserCredentialsDto User { get; } = new UserCredentialsDto();

    public async void Login()
    {
        var result = await UserService.Login(User);

        if (result.Successful)
        {
            Redirect();
        }
        else
        {
            ToastService.ShowError(result.Error.ToString(), "Login not successful!");
        }
    }

    private void Redirect()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("redirect", out var redirectString))
        {
            NavigationManager.NavigateTo(redirectString);
        }
        else
        {
            NavigationManager.NavigateTo("/profile");
        }
    }
}
