h2 {
    font-weight: bold;
}

h3 {
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.copy-clipboard-wrapper {
    background-color: transparent;
    border: none;
    color: var(--black-primary-light);
    font-size: 14px
}

.copy-clipboard-wrapper:hover {
    color: var(--black-primary);
}

.copy-icon {
    margin-right: 5px;
}

.copied-text {
    font-size: 15px;
    color: var(--black-primary-light);
}

.poll-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.question-header-details {
    margin-top: 3vh;
    margin-bottom: 0px;
}

.question-header-author {
    margin-bottom: 12px;
    font-size: 12px;
}

.poll-description {
    margin-top: 25px;
    max-width: 50vw;
}

.select-answer-header {
    margin-bottom: 15px;
}

.answers-wrapper {
    margin-top: 30px;
    width: 50vw;
}

.button-send-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    min-width: 200px;
    margin-bottom: 5vh;
}