@inject IJSRuntime JS

<div class="chart-wrapper">
    <canvas id="pollBarChart" @ref="_pollBarChartRef"></canvas>
</div>

@code {
    [Parameter]
    public Poll Poll { get; set; }

    private ElementReference _pollBarChartRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Poll != null && firstRender)
        {
            await JS.InvokeAsync<Poll>("drawBarChart", Poll, _pollBarChartRef);
        }
    }

    public async Task UpdatePoll(Poll poll)
    {
        await JS.InvokeAsync<Poll>("updateChartCounts", poll);
    }
}
