@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <Navbar/>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomCenter" Timeout="10"/>