
a.navbar-title:link {
    text-decoration: none;
}

.navbar-wrapper {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px
}

.navbar-icon-wrapper {
    display: flex;
    align-items: center;
}

.navbar-icon-wrapper:hover {
    text-decoration: none;
}

    .navbar-title {
        color: var(--black-primary);
        font-size: 30px;
        font-weight: bold;
    }

.navbar-title:hover {
    text-decoration: none;
}

.navbar-icon {
    color: var(--black-primary);
    font-size: 32px;
    margin-right: 10px;
}

.nav-button {
    margin-left: 20px;
}

.nav-button-content {
    display: flex;
    align-items: center;
}

.new-poll-icon {
    margin-right: 5px;
    margin-top: -2px;
}



