<div class="navbar-wrapper">
    <NavLink href="create">
        <button class="btn btn-primary nav-button">Create new poll</button>
    </NavLink>
    <NavLink href="login">
        <button class="btn btn-primary nav-button">Login</button>
    </NavLink>
</div>
<span class="fa fa-save"></span>

@code {

}
