.page-not-found {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25vh;
    align-items: center;
    font-size: 20px;
}

.not-found-icon {
    margin-bottom: 10px;
    font-size: 28px;
}
