@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

:root {
    --black-primary: #0d1f2d;
    --black-primary-light: rgba(13, 31, 45, 0.7);
    --black-primary-super-light: rgba(13, 31, 45, 0.2);
    --blue-primary: #546A7B;
    --blue-secondary: #9ea3b0;
}


html, body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--black-primary);
}

.btn-primary {
    color: #fff;
    background-color: var(--blue-primary);
    border: 3px solid var(--black-primary);
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--black-primary) !important;
    border: 3px solid var(--black-primary);
}

.form-control:focus {
    border: 2px solid var(--blue-primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(84, 106, 123, 0.7);
}


.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

.content-centered-horizontal {
    display: flex;
    justify-content: center;
}

.content-centered-vertical {
    display: flex;
    align-items: center;
}

.index-create-container {
    height: 60vh;
    flex-direction: column;
}

.input-question-create-wrapper {
    width: 50vw;
}

.input-question-create {
    margin-top: 4vh;
}

.button-question-create {
    margin-top: 2vh;
    width: 10vw;
}

.input-validate.invalid {
    outline: none;
    border: 1px solid red;
}

.input-validate.valid {
    outline: none;
}

.input-validate.valid.modified {
    outline: none;
    border: 1px solid green;
}

.full-width {
    width: 50vw !important;
}

.validation-message-wrapper {
    font-size: 12px;
}

.input-validation-wrapper {
    display: flex;
    flex-direction: column
}

.loading-visible {
    visibility: visible;
}

.loading-invisible {
    visibility: collapse;
}

@media only screen and (max-width: 720px) {
    .input-question-create-wrapper {
        width: 80vw;
    }

    .button-question-create {
        width: 70vw;
    }
}