<h3 class="profile-header">Comments you submitted</h3>
<div class="profile-header-stats">
    <span class="far fa-comment profile-icon"></span> @Comments.Count
</div>

@if (Comments?.Count == 0)
{
    <span>You have not commented any polls yet.</span>
}
else
{
    foreach (var comment in Comments)
    {
        <CommentComponent DisplayComment="@comment" DisplayPollDetails="true" WithNavigation="true"/>
    }

    <BlazorPager CurrentPage="1" PageCount="10"/>
}

@code {
    [Parameter]
    public List<Comment> Comments { get; set; }
}
